$black-900: #151515;
$black-800: #575757;
$black-600: #A9A9A9;
$black-500: #D1D1D1;
$black-400: #EBEBEB;
$black-300: #F5F5F5;
$black-100: #F9F9F9;

$green-900: #46760A;
$green-800: #6A983C;
$green-700: #92C064;
$green-300: #C8DEB3;
$green-100: #F4F8EC;

$brown-900: #B28A48;
$brown-800: #D0A866;
$brown-700: #ECD2A6;
$brown-300: #FAEDD8;
$brown-100: #FFF9F0;

$red-900: #C7522D;
$red-800: #E5704B;
$red-700: #EB8D70;
$red-300: #F7C6B7;
$red-100: #FFF1ED;

$blue-900: #19B2B8;
$blue-800: #37D0D6;
$blue-700: #7CD0D3;
$blue-300: #B9E6E8;
$blue-100: #ECF6F6;