@import "colors";
@import "fonts";

.link {
    color: $green-800;
}

input {
    border: unset;
    background-color: transparent;
    outline: none;
}

button {
    border: unset;
    background-color: transparent;
    outline: none;
}

body {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
}